/* Patch range not showing linked noe */
.vis-item-overflow { overflow: visible !important; }


.vis-item:hover,
.vis-item.vis-selected {
  box-sizing: border-box;
  border-width: 0 8px;
}

.vis-item:hover div.vis-item-content > a,
.vis-item:hover div.vis-item-overflow > div > a,
.vis-item.vis-selected div.vis-item-content > a,
.vis-item.vis-selected div.vis-item-overflow > div > a {
  -webkit-text-fill-color: white;
}

.vis-item div.vis-item-content > a,
.vis-item div.vis-item-overflow > div > a {
  -webkit-text-fill-color: white;
}